/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

:root {
	--accent: #2337ff;
	--accent-dark: #000d8a;
	--black: 15, 18, 25;
	--gray: 96, 115, 159;
	--gray-light: 229, 233, 240;
	--gray-dark: 34, 41, 57;
	--gray-gradient: rgba(var(--gray-light), 50%), #fff;
	--box-shadow: 0 2px 6px rgba(var(--gray), 25%), 0 8px 24px rgba(var(--gray), 33%),
		0 16px 32px rgba(var(--gray), 33%);
}
@font-face {
	font-family: 'Atkinson';
	src: url('/fonts/atkinson-regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Atkinson';
	src: url('/fonts/atkinson-bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
body {
	font-family: 'Atkinson', sans-serif;
	margin: 0;
	padding: 0;
	text-align: left;
	background: linear-gradient(var(--gray-gradient)) no-repeat;
	background-size: 100% 600px;
	word-wrap: break-word;
	overflow-wrap: break-word;
	color: rgb(var(--gray-dark));
	font-size: 20px;
	line-height: 1.7;
}
main {
	width: 720px;
	max-width: calc(100% - 2em);
	margin: auto;
	padding: 3em 1em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 0.5rem 0;
	color: rgb(var(--black));
	line-height: 1.2;
}
h1 {
	font-size: 3.052em;
}
h2 {
	font-size: 2.441em;
}
h3 {
	font-size: 1.953em;
}
h4 {
	font-size: 1.563em;
}
h5 {
	font-size: 1.25em;
}
strong,
b {
	font-weight: 700;
}
a {
	color: var(--accent);
}
a:hover {
	color: var(--accent);
}
p {
	margin-bottom: 1em;
}
.prose p {
	margin-bottom: 2em;
}
textarea {
	width: 100%;
	font-size: 16px;
}
input {
	font-size: 16px;
}
table {
	width: 100%;
}
img {
	max-width: 100%;
	height: auto;
	border-radius: 8px;
}
code {
	padding: 2px 5px;
	background-color: rgb(var(--gray-light));
	border-radius: 2px;
}
pre {
	padding: 1.5em;
	border-radius: 8px;
	margin-bottom: 3em;
}
pre > code {
	all: unset;
	display: block;
  max-width: calc(100vw - 6em);
}
blockquote {
	border-left: 4px solid var(--accent);
	padding: 0 0 0 20px;
	margin: 0px;
	font-size: 1.333em;
}
hr {
	border: none;
	border-top: 1px solid rgb(var(--gray));
}



		body {
			background: #d9e7ee;
		}

	header {
		padding: 0.5em 1em;
		background: white;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
		text-align: center;
	}
	header a {
		text-decoration: none;
	}
	header h1 {
		font-family: Didot, 'Bodoni MT', 'Noto Serif Display', 'URW Palladio L', P052, Sylfaen, serif;
	}

	main {
		display: flex;
  flex-direction: column;
  align-items: center;
	}

	.subtitle {
		font-family: Didot, 'Bodoni MT', 'Noto Serif Display', 'URW Palladio L', P052, Sylfaen, serif;
		text-align: center;
	}


		.calendar-grid {
			display: grid;
			gap: 8px;
			grid-template-columns: repeat(5, 1fr [col-start]);
			grid-template-rows: repeat(12, 1fr [row-start]);
			list-style: none;
			padding: 0;
		}
		.calendar-grid li {
			border: 2px #4682B4 dashed;
			display: flex; /* to stretch the inline child */
		}

		/* children can be links or spands (dependent on opened door via the date) */
		.calendar-grid li > * {
			color: inherit;
			flex-grow: 1;  /* to fill the parent */
			font-family: Didot, 'Bodoni MT', 'Noto Serif Display', 'URW Palladio L', P052, Sylfaen, serif;
			font-size: 36px;
			font-weight: bold;
			padding: 1.2ch;
			text-decoration: none;
		}

		.calendar-grid li.html {
			background: #FF4500;
			color: #FFFFFF;
		}
		.calendar-grid li.css {
			background: #FFD700;
			color: #8B4513;
		}
		.calendar-grid li.js {
			background: #228B22;
			color: #FFFFFF;
		}
		.calendar-grid li.todo {
			background: #A9A9A9;
			color: #000000;
		}


		.calendar-grid li:nth-child(1) {
			grid-column: 1 / span 2;
			grid-row: 1 / span 2;
		}
		.calendar-grid li:nth-child(2) {
			grid-column: 3;
			grid-row: 7 / span 2;
		}
		.calendar-grid li:nth-child(3) {
			grid-column: 3 / span 2;
			grid-row: 9 / span 2;
		}
		.calendar-grid li:nth-child(4) {
			grid-column: 4;
			grid-row: 5;
		}
		.calendar-grid li:nth-child(5) {
			grid-column: 1 / span 2;
			grid-row: 7;
		}
		.calendar-grid li:nth-child(6) {
			grid-column: 4 / span 2;
			grid-row: 2 / span 2;
		}
		.calendar-grid li:nth-child(7) {
			grid-column: 5;
			grid-row: 9 / span 2;
		}
		.calendar-grid li:nth-child(8) {
			grid-column: 1;
			grid-row: 5 / span 2;
		}
		.calendar-grid li:nth-child(9) {
			grid-column: 1 / span 2;
			grid-row: 3;
		}
		.calendar-grid li:nth-child(10) {
			grid-column: 3 / span 2;
			grid-row: 4;
		}
		.calendar-grid li:nth-child(11) {
			grid-column: 1 / span 2;
			grid-row: 12;
		}
		.calendar-grid li:nth-child(12) {
			grid-column: 3;
			grid-row: 11 / span 2;
		}
		.calendar-grid li:nth-child(13) {
			grid-column: 4 / span 2;
			grid-row: 6 / span 2;
		}
		.calendar-grid li:nth-child(14) {
			grid-column: 2;
			grid-row: 10 / span 2;
		}
		.calendar-grid li:nth-child(15) {
			grid-column: 3 / span 2;
			grid-row: 1;
		}
		.calendar-grid li:nth-child(16) {
			grid-column: 4 / span 2;
			grid-row: 11 / span 2;
		}
		.calendar-grid li:nth-child(17) {
			grid-column: 1 / span 2;
			grid-row: 4;
		}
		.calendar-grid li:nth-child(18) {
			grid-column: 5;
			grid-row: 4 / span 2;
		}
		.calendar-grid li:nth-child(19) {
			grid-column: 5;
			grid-row: 1;
		}
		.calendar-grid li:nth-child(20) {
			grid-column: 1 / span 2;
			grid-row: 8 / span 2;
		}
		.calendar-grid li:nth-child(21) {
			grid-column: 4 / span 2;
			grid-row: 8;
		}
		.calendar-grid li:nth-child(22) {
			grid-column: 3;
			grid-row: 2 / span 2;
		}
		.calendar-grid li:nth-child(23) {
			grid-column: 1;
			grid-row: 10 / span 2;
		}
		.calendar-grid li:nth-child(24) {
			grid-column: 2 / span 2;
			grid-row: 5 / span 2;
		}

	footer {
		padding: 2em 1em 6em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
	footer a,
	footer a:hover {
		text-decoration: none;
		color: rgb(var(--gray));
	}


@media (max-width: 720px) {
	body {
		font-size: 18px;
	}
	main {
		padding: 1em;
	}
	.calendar-grid li > * {
		font-size: 24px;
	}
}

@media (min-width: 1400px) {

	main {
		width: 1280px;
	}

		.calendar-grid {
			grid-template-rows: repeat(5, 1fr [col-start]);
			grid-template-columns: repeat(12, 1fr [row-start]);
		}

		.calendar-grid li:nth-child(1) {
			grid-row: 1 / span 2;
			grid-column: 1 / span 2;
		}
		.calendar-grid li:nth-child(2) {
			grid-row: 3;
			grid-column: 7 / span 2;
		}
		.calendar-grid li:nth-child(3) {
			grid-row: 3 / span 2;
			grid-column: 9 / span 2;
		}
		.calendar-grid li:nth-child(4) {
			grid-row: 4;
			grid-column: 5;
		}
		.calendar-grid li:nth-child(5) {
			grid-row: 1 / span 2;
			grid-column: 7;
		}
		.calendar-grid li:nth-child(6) {
			grid-row: 4 / span 2;
			grid-column: 2 / span 2;
		}
		.calendar-grid li:nth-child(7) {
			grid-row: 5;
			grid-column: 9 / span 2;
		}
		.calendar-grid li:nth-child(8) {
			grid-row: 1;
			grid-column: 5 / span 2;
		}
		.calendar-grid li:nth-child(9) {
			grid-row: 1 / span 2;
			grid-column: 3;
		}
		.calendar-grid li:nth-child(10) {
			grid-row: 3 / span 2;
			grid-column: 4;
		}
		.calendar-grid li:nth-child(11) {
			grid-row: 1 / span 2;
			grid-column: 12;
		}
		.calendar-grid li:nth-child(12) {
			grid-row: 3;
			grid-column: 11 / span 2;
		}
		.calendar-grid li:nth-child(13) {
			grid-row: 4 / span 2;
			grid-column: 6 / span 2;
		}
		.calendar-grid li:nth-child(14) {
			grid-row: 2;
			grid-column: 10 / span 2;
		}
		.calendar-grid li:nth-child(15) {
			grid-row: 3 / span 2;
			grid-column: 1;
		}
		.calendar-grid li:nth-child(16) {
			grid-row: 4 / span 2;
			grid-column: 11 / span 2;
		}
		.calendar-grid li:nth-child(17) {
			grid-row: 1 / span 2;
			grid-column: 4;
		}
		.calendar-grid li:nth-child(18) {
			grid-row: 5;
			grid-column: 4 / span 2;
		}
		.calendar-grid li:nth-child(19) {
			grid-row: 5;
			grid-column: 1;
		}
		.calendar-grid li:nth-child(20) {
			grid-row: 1 / span 2;
			grid-column: 8 / span 2;
		}
		.calendar-grid li:nth-child(21) {
			grid-row: 4 / span 2;
			grid-column: 8;
		}
		.calendar-grid li:nth-child(22) {
			grid-row: 3;
			grid-column: 2 / span 2;
		}
		.calendar-grid li:nth-child(23) {
			grid-row: 1;
			grid-column: 10 / span 2;
		}
		.calendar-grid li:nth-child(24) {
			grid-row: 2 / span 2;
			grid-column: 5 / span 2;
		}
}


			main {
				width: calc(100% - 2em);
				max-width: 100%;
				margin: 0;
			}
			.prose {
				width: min(720px, calc(100% - 2em));
				margin: auto;
				padding: 1em;
				color: rgb(var(--gray-dark));
			}
			.title {
				margin-bottom: 1em;
				padding: 1em 0;
				text-align: center;
				line-height: 1;
			}
			.title h1 {
				margin: 0 0 0.5em 0;
				word-break: break-word;
			}
			.date {
				margin-bottom: 0.5em;
				color: rgb(var(--gray));
			}