---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

import CalendarDoor from '../components/CalendarDoor.astro';

import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { getCollection } from 'astro:content';

// TODO: Enter the position into the frontmatter, use it vor vars, and use this for rotating the calendar
const posts = (await getCollection('calendar')).sort(
	(a, b) => b.data.slug - a.data.slug,
);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />

		<main>
			Ho ho ho

			<ol class="calendar-grid">
				{
					posts.map((post) => (
						<CalendarDoor post={post} />
					))
				}
			</ol>
			
		</main>
		<Footer />
	</body>
</html>
